{
	"app":[
	    {
            "id" : "updater" ,
            "type" : "raw" ,
            "ip" : "10.100.136.60" ,
            "user" : "hduser" ,
            "pass" : "1" ,
            "cmd" : "/home/hduser/cando/updater.sh"
	    },
        {
            "id" : "ftplistener" ,
            "type" : "raw" ,
            "ip" : "10.100.136.68" ,
            "user" : "big" ,
            "pass" : "1" ,
            "cmd" : "python /home/big/ftplistener/ftplistener.py"
        },
		{
		    "id" : "clusterservice" ,
		    "type" : "service:5555" ,
			"ip" : "10.100.136.60" ,
			"user" : "hduser" ,
			"pass" : "1" ,
			"cmd" : "python /home/hduser/ftpService/cluster_service.py"
		},
		{
		    "id" : "hdfslistener" ,
		    "type" : "raw" ,
			"ip" : "10.100.136.60" ,
			"user" : "hduser" ,
			"pass" : "1" ,
			"cmd" : "python /home/hduser/ftpService/hdfslistener.py"
		},
		{
		    "id" : "messageservice" ,
		    "type" : "service:5556" ,
			"ip" : "10.100.136.60" ,
			"user" : "hduser" ,
			"pass" : "1" ,
			"cmd" : "python /home/hduser/ftpService/message_service.py"
		},
		{
		    "id" : "reparquet" ,
		    "type" : "raw" ,
			"ip" : "10.100.136.60" ,
			"user" : "hduser" ,
			"pass" : "1" ,
			"cmd" : "python /home/hduser/ftpService/reparquet.py"
		}
	],
	"order" : "updater,messageservice,clusterservice,ftplistener",
	"dependency":{
	    "ftplistener" : {"before":"messageservice,clusterservice","beforeType":"start","afterFinishStart":"hdfslistener"},
	    "clusterservice" : {"before":"messageservice","beforeType":"start"},
	    "hdfslistener" : {"before":"ftplistener","beforeType":"finish","afterFinishStart":"reparquet","afterFinishStop":"clusterservice,messageservice"}
	}
}