[ftp]
host = 172.30.1.16
username = candoftp
password = 123*qazcando
root = /.
startPath = /Isc2Bank/
fileType = zip,rar
fileName = ACTINFO_ACT2,CUSTINFO_CUS2,LASTBAL,STAT,CHQPRE,BRAN
filePath = tat9708

[service]
host = 10.100.136.60
username = hduser
password = 1
path = /home/hduser/ftpService/
port = 5555
