[Main]
ftphost = 172.30.1.16
ftpusername = candoftp
ftppassword = 123*qazcando
ftproot = /.
ftpstartPath = /Isc2Bank/
sshhost = 10.100.136.60
sshusername = hduser
sshpassword = 1
sshpath = /home/hduser/ftpService/
servicehost = 10.100.136.60
serviceport = 5555
ftpFileFormat = zip,rar
ftpFilenameStartWith = LASTBAL
ftpDirectoryContainWith = tat9607
[Test]
host = 10.100.136.53
username = ftpac
password = 123*qaz
root = /.
startPath = /94-95/FTP Contents/Bank-Iran/Isc2Bank/
