[Main]
ftphost = 172.30.1.16
ftpusername = Candoftp
ftppassword = 123*qazcando
ftproot = /.
ftpstartPath = /Isc2Bank/
ftpFileFormat = zip,rar
ftpFilenameStartWith = CUSTINFO_CUS2_013
ftpDirectoryContainWith = tat97013

[Test]
host = 10.100.136.53
username = ftpac
password = 123*qaz
root = /.
startPath = /94-95/FTP Contents/Bank-Iran/Isc2Bank/
